@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>"ToDo" @Resources.Resource.WebApplication </h1>
    <h2>@Resources.Resource.HaveUsers : @ViewBag.UserCount</h2>
    <h2>@Resources.Resource.HaveTasks : @ViewBag.UserTasks</h2>
</div>

